.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  margin-top: 1rem;
  width: 80%;
  border-color: blue;
}

.footer {
  padding: 2rem 1rem 0;
  text-align: center;
}

.footer-header {
  padding: 1rem 0;
  font-weight: bolder;
  font-size: x-large;
}

.footer-ul-links {
  padding-left: 0px;
}

.lists-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.footer-links {
  color: #000;
  text-decoration: none;
  padding-left: 0;
}

i {
  padding: 0 0.5rem;
}
